name: Deploy to Amazon EC2

on:
  push:
    branches:
      - develop

env:
  AWS_REGION: ap-southeast-2
  S3_BUCKET_NAME: grabpt-github-actions-s3-bucket
  CODE_DEPLOY_APPLICATION_NAME: grabpt-codedeploy-app
  CODE_DEPLOY_DEPLOYMENT_GROUP_NAME: grabpt-codedeploy-deployment-group

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

        # secrets의 env 파일 빌드
      - name: Create .env file from secret
        run: echo "${{ secrets.ENV_PROPERTIES }}" > .env

      - name: Check .env file content (safe debug)
        run: |
          echo "First 5 lines of .env file:"
          head -n 5 .env

      - name: Build with Gradle (skip tests)
        uses: gradle/gradle-build-action@0d13054264b0bb894ded474f08ebb30921341cee
        with:
          arguments: clean build -x test

      - name: Upload artifact for transfer
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: |
            build/libs/*.jar
            scripts/**
            appspec.yml
            .env.properties

  transfer:
    name: Transfer
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: deploy

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload to AWS S3
        run: |
          aws deploy push \
            --application-name ${{ env.CODE_DEPLOY_APPLICATION_NAME }} \
            --ignore-hidden-files \
            --s3-location s3://$S3_BUCKET_NAME/$GITHUB_SHA.zip \
            --source ./deploy

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: transfer
    environment: production

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to AWS EC2 from S3
        run: |
          aws deploy create-deployment \
            --application-name ${{ env.CODE_DEPLOY_APPLICATION_NAME }} \
            --deployment-config-name CodeDeployDefault.AllAtOnce \
            --deployment-group-name ${{ env.CODE_DEPLOY_DEPLOYMENT_GROUP_NAME }} \
            --s3-location bucket=$S3_BUCKET_NAME,key=$GITHUB_SHA.zip,bundleType=zip
